
############################################
# Remove these when making a new project
############################################
*.h
*.cpp
!src/main.cpp
############################################

build/*
